* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* Banner Section Style Start */
.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px 0px 50px;
    gap: 97px;
    background-color: #FDEEF1;
}
.banner-title {
    font-size: 80px;
    color: #272727;
    margin-bottom: 32px;
}
.banner-info {
    font-size: 17px;
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 32px;
}
.btn-primary {
    background-color: #E55473;
    border-radius: 8px;
    border: none;
    padding: 20px 43px;
    color: white;
    font-size: 20px;
}

/* featured Section Style Start */
.featured-title {
    text-align: center;
    margin-bottom: 24px;
    margin-top: 120px;
}
.featured-description {
    margin-bottom: 48px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
}
.featured-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 228px;
    text-align: center;
    gap: 24px;
}
.featured-box1 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-bottom: 0px;
}
.featured-box2 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}
.featured-box3 {
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}
.feat-img1{
    width: 310px;
    height: 428px;
    padding: 110px 75px 0px 75px;
}
.feat-img2{
    width: 370px;
    height: 370px;
    padding: 110px 47px 0px 47px;
}
.feat-img3{
    width: 310px;
    height: 428px;
    padding: 110px 75px 0px 75px;
}
.feat-info{
   display: flex;
   justify-content: center;
   gap: 307px;
   margin-top: 32px;
   text-decoration: underline;
   font-size: 20px;
   color: #272727;
}

/* Service Section Style */
.service-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 150px;
    padding: 86px 150px 86px 150px;
    margin: 165px 240px 128px 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    font-size: 16px;
}

/* Sign Up Section Style */
.sign-up-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDF6F8;
    gap: 180px;
    padding: 100px 0px 100px 0px;
    text-align: center;
}
.title{
    font-size: 40px;
    margin-bottom: 24px;
}
.sign-up-description{
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 32px;
    font-size: 16px;
}

/*  Instagram Section Style */
.instagram-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 128px 228px;
}
.insta-title{
    text-align: center;
    margin-bottom: 24px;
}
.insta-description{
    color: rgba(39, 39, 39, 0.60);
    margin-bottom: 48px;
    font-size: 16px;
}
.insta-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/* Deals Section Style Start */
.deals{
    padding-top: 128px;
}
.deal-content{
    position: relative;
    text-align: center;
    color: black;
}
.deal-subscribe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
.subscription-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
input{
    border-radius: 8px;
    border: none;
    padding: 20px 400px 20px 20px;
    font-size: 20px;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 48px;
}
.bttn{
    margin-top: 48px;
}

/* Footer Area Style */
footer{
    background: #000;
    padding-top: 40px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 90px;
}
.footer-title{
    font-size: 35px;
}
span{
    color: #E55473;
}
.footer-description{
    max-width: 500px;
    margin: 10px auto;
    font-size: 14px;
    padding: 18px;
    color: rgba(255, 255, 255, 0.70);
}
small{
    padding: 20px;
    color: rgba(255, 255, 255, 0.40);
}